html, body {
	height: 100%;
}

body {
	display: grid;
	grid: auto-flow min-content / repeat(12, 1fr);
	gap: 1em;
	margin: 1em;
}

header, footer {
	grid-column: 1 / -1;
}

aside, nav {
	grid-column: 1 / 5;
}

main {
	grid-column: 5 / 13;
	grid-row: 2 / 4;
	/* Which is the same as the following.
	grid-area: 2 / 5 / 4 / 13;
	*/
}

body > img {
	grid-column: span 3;
}
